

/* Header */

#header-wrapper-login {
	overflow: hidden;
	
	background: url(images/header-wrapper-bg-short.jpg) repeat-x left top;
}

#header-login {
	overflow: hidden;
	width: 950px;
	height: 100px;
	margin: 0 auto;
}

/* Logo */

#logo-login{
	float: left;
	width: 254px;
	height: 300px;
	margin: 0px auto;
	padding: 5px 0 0 0;
	color: #FFFFFF;
}



#logo-login h1 {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 3.8em;
}


#logo-login a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

/* Menu */

#menu1-login {
	float: left;
	width: 348px;
	height: 300px;
}

#menu1-login ul {
	float: right;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
}

#menu1-login li {
	float: left;
	margin: 0px 30px;
}

#menu1-login a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}

#menu2-login {
	float: right;
	width: 348px;
}

#menu2-login ul {
	float: left;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
}

#menu2-login li {
	float: left;
	margin: 0px 30px;
}

#menu2-login a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}


#menu {
	overflow: hidden;
	width: 940px;
	padding: 15px 0px;
	margin: 0px auto 30px auto;
	background: #006BC2;
	border-radius: 10px;
	font-size: 20px;
	color: #FFFFFF;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #001DD6;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight:400;
	color: #FFFFFF;
	border: none;
}

.menu_link:hover{
	text-decoration: underline;
	color: blanchedalmond;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}


/* Page */

#page-login {
	width: 40em;
    margin: auto;
    padding: 2.5em;
    border-radius: 15px;
    background: rgba(0,0,0,.3);
    color: #F6F6F6;
}





/* Content */


.post-login {
	text-align: center;
}

.post-login .title {
	margin-bottom: 10px;
	padding: 12px 0px 20px 0px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}



/* Footer */

#footer-login {
	height: 50px;
    background: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer-login p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #FFFFFF;
}

#footer-login a {
	color: #FFFFFF;
}

#three-columns {
	overflow: hidden;
	width: 960px;
	margin: 0px auto;
	padding: 30px 0px;
	color: #FFFFFF;
}










